  
  .common_content {
    /* height: calc(100vh - 0.6rem); */
    background: radial-gradient(rgb(46, 105, 175), rgb(12, 33, 66) 70%) no-repeat center;
    overflow-y: auto;
    
    height: 100%;
  }

  html {
    font-size: 10px;
  }
 @media screen and (max-width: 1339px) {
    html {
        font-size: 10px;
    }
    .big_title {
        font-size: 16px;
    }
  }

  @media screen and (min-width: 1440px) and (max-width: 1600px) {
      html {
          font-size: 12px;
      }
      .big_title {
          font-size: 18px;
      }
  }

  @media screen and (min-width: 1601px) and (max-width: 1920px) {
    html {
        font-size: 14px;
    }
    .big_title {
        font-size: 22px;
    }
  }

  @media screen and (min-width: 1921px) and (max-width: 2560px) {
    html {
        font-size: 18px;
    }
    .big_title {
        font-size: 26px;
    }
  }

  @media screen and (min-width: 2561px) and (max-width: 2736px) {
    html {
        font-size: 20px;
    }

    .big_title {
        font-size: 28px;
    }
  }

  @media screen and (min-width: 2737px) {
    html {
        font-size: 22px;
    }
  }
  /*字号*/
.p12{
  font-size: 12px;
}
 .p14{
   font-size: 14px;
 }
.p16{
  font-size: 16px;
}
.p18{
  font-size: 18px;
}
.p20{
  font-size: 20px;
}
.p24{
  font-size: 24px;
}
.p48{
  font-size: 48px;
}
.pt18{
  font-size: 18pt;
}
.pt20{
  font-size: 20pt;
}
.pt48{
  font-size: 48pt;
}
.pr{
  
  text-align: right;
}
.mr{
  margin: 0 10px;
}

.el-table .cell {
  line-height: 2.3rem;
}
.search_box .el-input__inner{
  height: 40px;
}

/*字体大小*/
.px12 {
  font-size: 1.2rem;
}

.px13 {
  font-size: 1.3rem;
}

.px14 {
  font-size: 1.6rem;
}

.px16 {
  font-size: 1.6rem;
}

.px17 {
  font-size: 1.7rem;
}

.px18 {
  font-size: 1.8rem;
}

.px19 {
  font-size: 1.9rem;
}

.px20 {
  font-size: 2.0rem;
}

.px24 {
  font-size: 2.4rem;
}

.px26 {
  font-size: 2.6rem;
}

.px28 {
  font-size: 2.8rem !important;
}

.px30 {
  font-size: 3rem;
}

.px42 {
  /* font-size: 42px; */
  font-size: 4.2rem;
}

.px56 {
  font-size: 5.6rem;
}



/*颜色*/
.white {
  color: white;
}

.deepBlue {
  color: rgb(53, 135, 173);
}
/* 进度条样式 */

.el-progress-bar__outer {
  background-color: rgba(0, 0, 0, 0) !important;
}

.el-progress-bar {
  width: 80% !important;
}
