  
  .common_content {
    /* width: calc(100vw - 2.56rem); */
    height: calc(100vh - 0.6rem);
    background: radial-gradient(rgb(46, 105, 175), rgb(12, 33, 66) 70%) no-repeat center;
    overflow-y: auto;
  }

  html {
      font-size: 100px;
  }

  @media screen and (max-width: 1339px) {
    html {
        font-size: 60px;
    }

    .big_title {
        font-size: 16px;
    }
  }

  @media screen and (min-width: 1440px) and (max-width: 1600px) {
      html {
          font-size: 80px;
      }

      .big_title {
          font-size: 18px;
      }
  }

  @media screen and (min-width: 1601px) and (max-width: 1920px) {
    html {
        font-size: 120px;
    }
    .big_title {
        font-size: 22px;
    }
  }

  @media screen and (min-width: 1921px) and (max-width: 2560px) {
    html {
        font-size: 180px;
    }
    .big_title {
        font-size: 26px;
    }
  }

  @media screen and (min-width: 2561px) and (max-width: 2736px) {
    html {
        font-size: 190px;
    }

    .big_title {
        font-size: 28px;
    }
  }

  @media screen and (min-width: 2737px) {
    html {
        font-size: 210px;
    }
  }
  

p,h2,span{
  padding: 0 0;
  margin: 0 0;
  font-weight:normal;
}

.el-main {
  padding: 0;
}

.cell{
  text-align: center;
}
.right{
  float: right;
}
.panel{
    padding: 20px 20px;
    height: calc(100vh - 200px);
    overflow: auto;
}
.content{
  margin: 11px 25px 0 25px;
}
.panel-body{
  position: relative;
  background-color: white;
  min-height: 5rem !important;
}
/* .el-input__icon{
    width: 25px;
    height: 0;
    text-align: center;
    transition: all .3s;
    line-height: 40px;
} */

.el-menu:focus, .el-menu--inline:focus{
    background-color: #0f3462;
}

.input {
  width: 60%;
  padding-right: 10px;
}
.time .el-date-editor.el-input, .el-date-editor.el-input__inner{
  width: 180px;
}
.add{
  padding-top: 10px;
}
.big-word{
  font-size: 48px;
  color: white;
}
.model-word{
  color: white;
}
.hand{

}
/*列表头*/
.panel-heading {
  height: 1rem;
  padding-top: 10px;
  padding-left: 25px;
  padding-right: 25px;
  background-color: white;
  box-sizing: border-box;
}
.hand{
  position: relative;
  top: 10px;
  width:115px;
  height:21px;
  font-size:18px;
  font-weight:normal;
  color:rgba(55,56,57,1);
  line-height:21px;
}
.myTable{
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap
}
/*滑动条*/
.el-tab-pane{
  max-height: 650px;
  overflow:auto!important;
}
/*滚动条样式*/
.el-tab-pane::-webkit-scrollbar {/*滚动条整体样式*/
  width: 4px;     /*高宽分别对应横竖滚动条的尺寸*/
  height: 4px;
}
.el-tab-pane::-webkit-scrollbar-thumb {/*滚动条里面小方块*/
  border-radius: 5px;
  -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
  background-color: rgba(131, 66, 149, 0.77);
}
.el-tab-pane::-webkit-scrollbar-track {/*滚动条里面轨道*/
  -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
  border-radius: 0;
  background-color: rgba(131, 66, 149, 0.2) !important;
}
/*分页*/
.pages {
  text-align: center;
  margin: 10px 0;
  position: absolute;
  right: 25px;
  bottom:0;
}
.pages2 {
  text-align: center;
  margin: 10px 0;
  position: absolute;
  right: 25px;
  bottom:0;

}
.xiaozi{
  width:14px;
  height:40px;
  font-size:14px;
  font-family:PingFangSC-Regular;
  font-weight:400;
  color:rgba(144,147,153,1);
  line-height:20px;
}
.el-pagination.is-background .el-pager li:not(.disabled).active{
background-color: #409EFF;
}
/*按钮*/
.buttoncolor{
  background-color: #1E90FF;
  color: white;
  border: 0;
}
.buttoncolor2{
  background-color: #9B9B9B;
  color: white;
  border: 1px  #9B9B9B solid;
}
.buttoncolor2:hover {
  background-color: #9B9B9B;
  color: white;
  border: 1px  #9B9B9B solid;
}
.buttoncolor2:active {
  background-color: #9B9B9B;
  color: white;
  border: 1px  #9B9B9B solid;
}
.buttoncolor2:focus{
  background-color: #9B9B9B;
  color: white;
  border: 1px  #9B9B9B solid;
}
.buttoncolor:hover{
  background-color: rgba(0, 102, 255, 0.9);
  color: white;
  border: 0;
}
.buttoncolor:active {
  background-color: #1E90FF;
}
.buttoncolor:focus{
  background-color: #1E90FF;
  color: white;
  border: 0;
}
/*按钮样式*/
.button1{
  height: 0.32rem;
  line-height:0.12rem;
  font-size: 0.12rem;
}
.button2{
  width: 1.8rem;
  height: 0.48rem;
}
.button3{
  width: 3.35rem;
  height: 0.35rem;
  background-color: #1E90FF;
  line-height: 0.15rem;
  border: none;
  outline:none;
  color: #fff;
}
.button3:active{

 
  background-color: #1E90FF;
 
  outline:none;
}
.button3:hover{
  background-color: #1E90FF;
  
}
.button3:focus{
  
 
  background-color: #1E90FF;
  
  outline:none;
}
.button5{
  background-color: white;
  height: 0.24rem;
  line-height: 0.24rem;
  border: 0;
  outline:none;
  margin: 10px;
}
.bh{
  margin-top: 10px;
  margin-bottom: 10px;
  font-weight:bold;
}
.el-form-item__label{
  color:rgba(0,0,0,1);
}
.font{
  font-size:14px;
  font-weight:normal;
  color:rgba(0,0,0,1);
  line-height:16px;
  margin-left: 9px;
  margin-right: 20px;
}
.el-form-item__content{

}

.el-table .cell {
    line-height: 0.23rem;
}
/*input*/
.addInput{
  text-align:center;
  width: 25%;
  float: left;
}
.input4{
  height: 30px!important;
  width: 150px!important;
  margin: 0 20px;
}
.input5{
  width:118px;
  height:36px!important;
  border-radius:4px;
  margin: 0 auto;
}
.input6 input{
  height: 53px!important;
}
.input1{
  height: 53px!important;
  width: 150px!important;
  margin: 0 20px;
}
.input2{
  width:224px;
  height:53px;
  background:rgba(255,255,255,1);
  border-radius:4px;
}
.input3{
  padding:0 20px;
  width: 295px!important;
  height:35px!important;
  /* border: 1px  #d9d9d9 solid; */
  background: white;
  border: none;
  border-radius:18px;
  
  outline:none;
  font-size: 18px;
}
/* .input3:active{
background-color: #F5BD1C;
  
}

.input3:focus{
  background-color: #F5BD1C;
  
} */
  /*颜色*/
.color{
  text-decoration:none;
  color: #1E90FF!important;
}
.color1{
  color: #4A4A4A;
}
.color2{
  color: #000;
}
.el-switch__core:after{
  background-color: #fff;
}
.el-menu {
    border-right: solid 0px #e6e6e6 !important;
    list-style: none;
    position: relative;
    margin: 0;
    padding-left: 0;
    background-color: rgba(0, 0, 0, 0) !important;
}

.el-submenu .el-menu-item{
  height: 46px;
  line-height: 46px;
}
.el-submenu__title:focus, .el-submenu__title:hover{
  background-color: rgba(0, 102, 255, 0.2) !important;
  color: #000;
}
.el-dropdown-menu__item:hover{
  background-color: rgba(0, 102, 255, 0.2) !important;
  color: #000!important;
}
.el-menu-item, .el-submenu__title{
    height: 45px;
    line-height: 45px;
}
.avatar-uploader .el-upload {
  border-radius: 6px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}
.avatar-uploader .el-upload{
  width: 100%;
  height: 100%;
}
.avatar-uploader {
  width: 100%;
  height: 227px;
}
.avatar{
  width: 100%;
  height: 100%;
}
.el-dialog__footer{
  padding: 15px 20px;
}
 .el-dropdown-menu__item:hover{
   background-color: rgba(131, 66, 149, 0.77);
 }
 .el-dialog__body{
   padding: 15px 20px;
   background-color:rgba(247,248,249,1);
 }
 .bw{
   padding-top: 18px;
   padding-left: 32px;
   padding-right: 32px;
   background-color: white;
 }
/*字号*/
.p12{
  font-size: 12px;
}
 .p14{
   font-size: 14px;
 }
.p16{
  font-size: 16px;
}
.p18{
  font-size: 18px;
}
.p20{
  font-size: 20px;
}
.p24{
  font-size: 24px;
}
.p48{
  font-size: 48px;
}
.pt18{
  font-size: 18pt;
}
.pt20{
  font-size: 20pt;
}
.pt48{
  font-size: 48pt;
}
.pr{
  
  text-align: right;
}
.mr{
  margin: 0 10px;
}
