/* 表样式 */

.el-table, .el-table__expanded-cell {
    background-color: rgba(0, 0, 0, 0) !important;
    padding: 0 10px;
}


.el-table th, 
.el-table tr {
  background: rgba(0, 0, 0, 0) !important;
  color: #fff !important;
}
.el-table td, .el-table th.is-leaf {
    border-bottom: 0px solid rgba(0, 0, 0, 0) !important;
}
.el-table td, .el-table th.is-leaf,.el-table tr {
    border-bottom: 0px solid rgba(0, 0, 0, 0) !important;
}
.el-table--enable-row-hover .el-table__body tr:hover>td {
    background-color: rgba(0, 0, 0, 0) !important;
}
.el-table--border::after, .el-table--group::after, .el-table::before {
    content: '';
    position: absolute;
    background-color: rgba(0, 0, 0, 0) !important;
    z-index: 1;
}
.el-table th{
    background-color: rgba(0, 0, 0, 0) !important;
}


.el-table .cell {
    -webkit-box-sizing: border-box !important;
    box-sizing: border-box !important;
    white-space: normal !important;
    word-break: break-all !important;
    line-height: 23px !important;
    overflow: hidden !important;
    text-overflow: ellipsis !important;
    display: -webkit-box !important;
    -webkit-line-clamp: 1 !important;
    -webkit-box-orient: vertical !important;
}